/* paleta de colores inicial:
.color1 { #47dccc };
.color2 { #fb86ca };
.color3 { #156f65 };
.color4 { #ad696a };
.color5 { #d9b3bf }; 
*/
/* Cambia el cursor en toda la página */
* {
    cursor: url('../Imagenes/cursor1.png'), auto;
    margin: 0;
}

.priEncab {
  background-color: #8f6c96;
  height: 30px;
}

.secEncab {
  background-color: #f8edff;
  height: 200px;
  display: grid;
  grid-template-columns: 22% 1fr;
  grid-template-rows: repeat(2,1fr);
}
.item-img{ 
  grid-area: 1 / 1 / 3 / 2; 
  display: flex;
  justify-content: flex-end; /* Centra horizontalmente */
  align-items: center;
}
.buscador { 
  grid-area: 1 / 2 / 2 / 3; 
  margin-top: 20px;
}
.opciones { 
  grid-area: 2 / 2 / 3 / 3; 
  display:flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  align-items: center;
  justify-content: center; 
  margin-right: 10px;
}
.reemplazo-ops { 
  grid-area: 2 / 2 / 3 / 3; 
  display:none;
  align-items: center;
  justify-content: center; 
  margin-right: 10px;
}
.boton {/*Formato de los botones*/
  color: black;
  font-family: 'Oduda Bold';
  font-size: 21px;
  background-color: #5ce1e6;
  padding: 6px 20px;
  border-radius: 7px;
  text-decoration: none;
  margin: 10px;
}

  /* Cambia el cursor solo para un elemento específico */
.item-img .logo {
  /* cursor: url('../Imagenes/cursor2.png'), auto; */
  
}

.buscador .search-form{
  display: flex;
  justify-content: center; 
  align-items: center;
}
.buscador .nav{
  width: 40vw;
  height: 30px;
  border-radius:15px;
}
.search-form input[type="text"]{
  padding: 10px;
}
.buscador .buscar {
  background-color: #cbf6ff;
  border-radius: 100%;
}
.buscador .buscar img{
  margin-left: 1px;
  margin-top: 1px;
}

@media only screen and (max-width: 1082px){
  .secEncab {
    background-color: #f8edff;
    height: 200px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(2,1fr);
  }
  .item-img{ 
    grid-area: 1 / 1 / 3 / 2; 
    display: flex;
    justify-content: flex-end;
  }
  .buscador { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-top: 20px;
  }
  .opciones { 
    grid-area: 2 / 2 / 3 / 3; 
    display:flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .reemplazo-ops { 
    grid-area: 2 / 2 / 3 / 3; 
    display:none;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .boton {/*Formato de los botones*/
    color: black;
    font-family: 'Oduda Bold';
    font-size: 21px;
    background-color: #5ce1e6;
    padding: 6px 20px;
    border-radius: 7px;
    text-decoration: none;
    margin: 10px;
  }
  
    /* Cambia el cursor solo para un elemento específico */
  .item-img .logo {
    /* cursor: url('../Imagenes/cursor2.png'), auto; */
    
  }
  
  .buscador .search-form{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .buscador .nav{
    width: 40vw;
    height: 30px;
    border-radius:15px;
  }
  .search-form input[type="text"]{
    padding: 10px;
  }
  .buscador .buscar {
    background-color: #cbf6ff;
    border-radius: 100%;
  }
  .buscador .buscar img{
    margin-left: 1px;
    margin-top: 1px;
  }
}

@media only screen and (max-width: 826px){
  .secEncab {
    background-color: #f8edff;
    height: 200px;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: repeat(2,1fr);
  }
  .item-img{ 
    grid-area: 1 / 1 / 3 / 2; 
    align-items: center;
    justify-content: left;
    margin-left: 10px;
  }
  .item-img img{ 
    width: 100%;
    height: 100%;
  }
  .buscador { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-top: 20px;
  }
  .opciones { 
    display:none;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .reemplazo-ops { 
    grid-area: 2 / 2 / 3 / 3; 
    display:flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
    /* Cambia el cursor solo para un elemento específico */
  .item-img .logo {
    /* cursor: url('../Imagenes/cursor2.png'), auto; */
    
  }
  
  .buscador .search-form{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .buscador .nav{
    width: 40vw;
    height: 30px;
    border-radius:15px;
  }
  .search-form input[type="text"]{
    padding: 10px;
  }
  .buscador .buscar {
    background-color: #cbf6ff;
    border-radius: 100%;
  }
  .buscador .buscar img{
    margin-left: 1px;
    margin-top: 1px;
  }
}
@media only screen and (max-width: 550px){
  .secEncab {
    background-color: #f8edff;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
  .item-img{ 
    grid-area: 1 / 1 / 2 / 2; 
    align-items: center;
    justify-content: center;
  }
  .item-img img{
    width: auto;
  }
  .buscador { 
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 20px;
  }
  .opciones { 
    display:none;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .reemplazo-ops { 
    grid-area: 3 / 1 / 4 / 2;
    display:flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
    /* Cambia el cursor solo para un elemento específico */
  .item-img .logo {
    /* cursor: url('../Imagenes/cursor2.png'), auto; */
    
  }
  
  .buscador .search-form{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .buscador .nav{
    width: 60vw;
    height: 27px;
    border-radius:15px;
  }
  .search-form input[type="text"]{
    padding: 10px;
  }
  .buscador .buscar {
    background-color: #cbf6ff;
    border-radius: 100%;
  }
  .buscador .buscar img{
    margin-left: 1px;
    margin-top: 1px;
  }
}