/* Cambia el cursor en toda la página */
* {
    cursor: url('../Imagenes/cursor1.png'), auto;
    margin: 0;
}

.priEncab {
  background-color: #8f6c96;
  height: 38px;
}
.iconos{
  display: flex;
  justify-content: flex-end; /* Centra horizontalmente */
  padding-top: 4px;
  padding-right: 12px;
}
.iconos .icon{
  margin-right: 5px;
}
.iconos small{
  margin-top: 4px;
}
.iconos .login{
  cursor: url('../Imagenes/cursor2.png'), auto;
}
.iconos .carrito{
  cursor: url('../Imagenes/cursor2.png'), auto;
}

.secEncab {
  background-color: #f8edff;
  border-bottom: 1px solid black;
  height: 200px;
  display: grid;
  grid-template-columns: 22% 1fr;
  grid-template-rows: repeat(2,1fr);
}
.item-img{ 
  grid-area: 1 / 1 / 3 / 2; 
  display: flex;
  justify-content: flex-end; /* Centra horizontalmente */
  align-items: center;
}
.buscador { 
  grid-area: 1 / 2 / 2 / 3; 
  margin-top: 20px;
}
.opciones { 
  grid-area: 2 / 2 / 3 / 3; 
  display:flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  align-items: center;
  justify-content: center; 
  margin-right: 10px;
}
.reemplazo-ops { 
  grid-area: 2 / 2 / 3 / 3; 
  display:none;
}
.boton {/*Formato de los botones*/
  color: black;
  font-family: 'Oduda Bold';
  font-size: 21px;
  background-color: #5ce1e6;
  padding: 6px 20px;
  border-radius: 7px;
  text-decoration: none;
  margin: 10px;
  cursor: url('../Imagenes/cursor2.png'), auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra exterior */
  transition: box-shadow 0.3s;
}
.boton:hover{ 
  color: black;
  background-color: #b66ecb;
  text-decoration: none;
}
.buscador nav{
  display: flex;
  justify-content: center; 
  align-items: center;
}
.buscador .nav{
  width: 40vw;
  border-radius:15px;
  cursor: url('../Imagenes/cursor2.png'), auto;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra exterior */
  transition: box-shadow 0.3s;
}
.buscador .buscar {
  background-color: #cbf6ff;
  border-radius: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra exterior */
  transition: box-shadow 0.3s;
}
.buscador .buscar img{
  margin-left: 1px;
  margin-top: 1px;
  cursor: url('../Imagenes/cursor2.png'), auto;
}

@media only screen and (max-width: 1082px){
  .secEncab {
    background-color: #f8edff;
    height: 200px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(2,1fr);
  }
  .item-img{ 
    grid-area: 1 / 1 / 3 / 2; 
    display: flex;
    justify-content: flex-end;
  }
  .buscador { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-top: 20px;
  }
  .opciones { 
    grid-area: 2 / 2 / 3 / 3; 
    display:flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .reemplazo-ops { 
    grid-area: 2 / 2 / 3 / 3; 
    display:none;
  }
  .boton {/*Formato de los botones*/
    color: black;
    font-family: 'Oduda Bold';
    font-size: 21px;
    background-color: #5ce1e6;
    padding: 6px 20px;
    border-radius: 7px;
    text-decoration: none;
    margin: 10px;
  }
  .boton:hover{ 
    color: black;
    background-color: #b66ecb;
    text-decoration: none;
  }
  .buscador nav{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .buscador .nav{
    width: 40vw;
    border-radius:15px;
    cursor: url('../Imagenes/cursor2.png'), auto;
    padding: 10px;
  }
  .buscador .buscar {
    background-color: #cbf6ff;
    border-radius: 100%;
  }
  .buscador .buscar img{
    margin-left: 1px;
    margin-top: 1px;
    cursor: url('../Imagenes/cursor2.png'), auto;
  }
}

@media only screen and (max-width: 845px){
  .secEncab {
    background-color: #f8edff;
    height: 200px;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: repeat(2,1fr);
  }
  .item-img{ 
    grid-area: 1 / 1 / 3 / 2; 
    align-items: center;
    justify-content: left;
    margin-left: 10px;
  }
  .item-img img{ 
    width: 100%;
    height: 100%;
  }
  .buscador { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-top: 30px;
  }
  .opciones { 
    display:none;
  }
  .reemplazo-ops { 
    grid-area: 2 / 2 / 3 / 3; 
    display:flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .container-select{
    border: 1px solid black;
    padding-right: 15px;
    border-radius: 15px;
    background: white;
  }
  .reemplazo-ops select{ 
    border: none;
    width: 50vw;
    height: 40px;
    border-radius:15px;
    padding-left: 15px;
    cursor: url('../Imagenes/cursor2.png'), auto;
    outline: none;
  }
  .buscador nav{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .buscador .nav{
    width: 40vw;
    border-radius:15px;
    cursor: url('../Imagenes/cursor2.png'), auto;
    padding: 10px;
  }
  .buscador .buscar {
    background-color: #cbf6ff;
    border-radius: 100%;
  }
  .buscador .buscar img{
    margin-left: 1px;
    margin-top: 1px;
    cursor: url('../Imagenes/cursor2.png'), auto;
  }
}
@media only screen and (max-width: 650px){
  .secEncab {
    background-color: #f8edff;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }
  .item-img{ 
    grid-area: 1 / 1 / 2 / 2; 
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .item-img img{
    width: auto;
  }
  .buscador { 
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 20px;
  }
  .opciones { 
    display:none;
  }
  .reemplazo-ops { 
    grid-area: 3 / 1 / 4 / 2;
    display:flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
  }
  .reemplazo-ops select{ 
    width: 70vw;
    height: 40px;
    border-radius:15px;
    padding-left: 15px;
    cursor: url('../Imagenes/cursor2.png'), auto;
  }
  .buscador nav{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .buscador .nav{
    width: 60vw;
    border-radius:15px;
    cursor: url('../Imagenes/cursor2.png'), auto;
    padding: 10px;
  }
  .buscador .buscar {
    background-color: #cbf6ff;
    border-radius: 100%;
  }
  .buscador .buscar img{
    margin-left: 1px;
    margin-top: 1px;
    cursor: url('../Imagenes/cursor2.png'), auto;
  }
}
.redes-sociales{
  background-color: #fcc2c4;
  height: 40px;
  text-align: center;
  border-top: 1px solid black;
}
.redes-sociales img{
  margin: 4px 5px;
  cursor: url('../Imagenes/cursor2.png'), auto;
}
.redes-sociales img:hover {  /*Hover de las imagenes*/
  margin: 4px 5px;
  opacity: 1;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agrega transición suave para efecto de cambio de filtro y de transformación */
  transform: scale(1.1); 
}
.containerfoot{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5px;
}
.containerfoot .maps{
  margin-left: 5%;
  margin-right: 5px;
}
.containerfoot li{
  font-family: 'Oduda Bold';
  font-size: 17px;
}
.categ a{
  cursor: url('../Imagenes/cursor2.png'), auto;
}
.categ img{
  margin-top: 5px;
}
@media only screen and (max-width: 570px){
  .containerfoot{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  .containerfoot .maps{
      margin-left: 0%;
  }
  .containerfoot .categ{
      margin-right: 10px;
  }
}