body{
    background-color: #69b4c2;
}
#carouselExampleIndicators{
    background-color: #fad8eb;
    height: 400px;
}
#carouselExampleIndicators video{
    height: 398px;
    margin-top: 1px;
}
.carousel-indicators li{
    height: 5px;
    cursor: url('../Imagenes/cursor2.png'), auto;
    border-radius: 5px;
}
.carousel-control-next{
    justify-content: start;
    width: 25%;
}
.carousel-control-prev{
    justify-content: end;
    width: 25%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    cursor: url('../Imagenes/cursor2.png'), auto;
}

.redes-sociales{
    background-color: #fcc2c4;
    height: 40px;
    text-align: center;
    border-top: 1px solid black;
}
.redes-sociales img{
    margin: 4px 5px;
    cursor: url('../Imagenes/cursor2.png'), auto;
}
.redes-sociales img:hover {  /*Hover de las imagenes*/
    margin: 4px 5px;
    opacity: 1;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agrega transición suave para efecto de cambio de filtro y de transformación */
    transform: scale(1.1); 
}

@media only screen and (max-width: 1140px){
    #carouselExampleIndicators{
        background-color: #fad8eb;
        height: 400px;
    }
    #carouselExampleIndicators video{
        height: 398px;
        margin-top: 1px;
    }
    .carousel-indicators li{
        height: 5px;
        cursor: url('../Imagenes/cursor2.png'), auto;
        border-radius: 5px;
    }
    .carousel-control-next{
        justify-content: start;
        width: 15%;
    }
    .carousel-control-prev{
        justify-content: end;
        width: 15%;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        cursor: url('../Imagenes/cursor2.png'), auto;
    }
}

@media only screen and (max-width: 840px){
    #carouselExampleIndicators{
        background-color: #fad8eb;
        height: 400px;
    }
    #carouselExampleIndicators video{
        height: 398px;
        margin-top: 1px;
    }
    .carousel-indicators li{
        height: 5px;
        cursor: url('../Imagenes/cursor2.png'), auto;
        border-radius: 5px;
    }
    .carousel-control-next{
        justify-content: start;
        width: 5%;
    }
    .carousel-control-prev{
        justify-content: end;
        width: 5%;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        cursor: url('../Imagenes/cursor2.png'), auto;
    }
}

@media only screen and (max-width: 600px){
    #carouselExampleIndicators{
        background-color: #fad8eb;
        height: 400px;
    }
    #carouselExampleIndicators video{
        height: 398px;
        margin-top: 1px;
    }
    .carousel-indicators li{
        height: 5px;
        cursor: url('../Imagenes/cursor2.png'), auto;
        border-radius: 5px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        cursor: url('../Imagenes/cursor2.png'), auto;
    }
}