body{
    background-color: #69b4c2;
}
.carousel-inner > .item > video,
    .carousel-inner > .item > a > video {
        width: 500px;
        height: 350px;
        margin-top: 5px;
}
.container{
    display: flex;
    justify-content: center;
}
#theCarousel{
    background-color: #242223;
    width: 500px;
}
@media only screen and (max-width: 520px){
    .carousel-inner > .item > video,
        .carousel-inner > .item > a > video {
            width: 100%;
            height: 350px;
            margin-top: 5px;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    #theCarousel{
        background-color: #242223;
        width: 100%;
    }
}

/* background-color: #fad8eb; */