.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario form {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Alinear elementos en columna */
    width: 40vw; /* Ajusta el ancho del formulario al 90% del ancho de la ventana */
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.formulario input{
    width: calc(100% - 20px); /* Ajusta el ancho para tener en cuenta el relleno */
    padding: 10px;
    border: 1px solid #ccc;
    cursor: url('../Imagenes/cursor2.png'), auto;
    border-radius: 5px;
    box-sizing: border-box;
}
.formulario input[type="button"] {
    background-color:#5ce1e6;
    border: 1px solid black;
    width: 20vw;
    margin: 10px;
    padding: 8px;
    font-family: 'Oduda Bold';
    font-size: 20px;
}
.formulario input[type="button"]:hover {
    background-color:#b66ecb;
    cursor: url('../Imagenes/cursor2.png'), auto;
}
.formulario label{
    place-self: start;
    margin: 10px 0 1px 10px;
}

@media only screen and (max-width: 900px){
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .formulario form {
        display: flex; /* Usa flexbox para el diseño */
        flex-direction: column; /* Alinear elementos en columna */
        width: 80vw; /* Ajusta el ancho del formulario al 90% del ancho de la ventana */
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center;
    }
    .formulario input{
        width: calc(100% - 20px); /* Ajusta el ancho para tener en cuenta el relleno */
        padding: 10px;
        border: 1px solid #ccc;
        cursor: url('../Imagenes/cursor2.png'), auto;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .formulario input[type="button"] {
        background-color:#5ce1e6;
        border: 1px solid black;
        width: 40vw;
        margin: 10px;
        padding: 8px;
        font-family: 'Oduda Bold';
        font-size: 20px;
    }
    .formulario input[type="button"]:hover {
        background-color:#b66ecb;
        cursor: url('../Imagenes/cursor2.png'), auto;
    }
    .formulario label{
        place-self: start;
        margin: 10px 0 1px 10px;
    }
}